name: CI

on: [push]

jobs:
  build:
    name: PHP Composer
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.0'

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress --no-interaction

    - name: Run PHPUnit tests
      run: vendor/bin/phpunit
    - name: Run PhpStan Analyse Code
      run:  vendor/bin/phpstan analyse --level=4 src tests